vl {
  display: flex;
  border-left: 3px solid var(--yellow-background-color);
  align-self: stretch;
}

header {
  padding: 0 5px 17px 0;
  margin: 0 2.5% 0 2.5%;
  border-style: solid;
  border-width: 20px;
  border-color: var(--transparent-color) var(--yellow-background-color) var(--yellow-background-color) var(--transparent-color);
  border-radius: 15px 3px 5px 3px;
  background-color: var(--dark-purple-color);
}

.nav-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-header > a {
  margin: 0 12px;
  font-size: var(--small-font-size);
  text-align: center;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 5px;
}

.nav-label-icon {
  transition-duration: var(--short-duration);
}

.nav-label-icon:hover {
  background-color: var(--primary-color);
  transition-duration: var(--medium-duration);
  scale: 1.05;
}

.nav-label-icon > i {
  margin: 0 0 0 4px;
}

.nav-icon {
  translate: 0 1px;
  transition-duration: var(--medium-duration);
}

.nav-icon:hover {
  background-color: var(--primary-color);
  scale: 1.25;
}

main {
  display: flex;
  flex-direction: column;
}

.nav-main {
  display: flex;
  justify-content: center;
  margin: 15px 20px 18px 2.5%;
}

.nav-main-item {
  background-color: initial;
  transition-duration: var(--short-duration);
  border: 4px solid var(--dark-purple-color);
  border-radius: 10px;
  padding: 4px 12px;
}

.nav-main-item:first-child {
  margin: 0 15px 0 0;
}

.nav-main-item:hover {
  background-color: rgba(114, 106, 149, 0.75);
  color: var(--yellow-background-color);
}

.nav-main-item:hover > h2 {
  color: var(--yellow-background-color);
}

.nav-main-item:active {
  scale: 1.02;
}

.active {
  background-color: var(--dark-purple-color);
}

.active:hover {
  background-color: var(--dark-purple-color);
}

.active > h2 {
  color: var(--yellow-background-color);
}

.projects-container {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.project {  
  transition-duration: var(--medium-duration);
  display: flex;
  flex-direction: column;
}

.project-header {
  display: flex;
  align-items: center;
}

.project-header > h3 {
  margin: 0 10px 0 0;
  padding: 2px 5px 0 5px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--dark-purple-color) var(--transparent-color) var(--transparent-color) var(--dark-purple-color);
  border-radius: 5px 2px 0 2px;
}

.project-button-container {
  display: flex;
  margin: 0 0 4px 0;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-grow: 1;
}

.project-button-container a {
  text-decoration: none;
}

.project-button {
  transition-duration: var(--short-duration);
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--default-font-size);
  color: var(--secondary-color);
  background-color: var(--transparent-color);
  padding: 2px 8px;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  margin: 0 8px 8px 0;
}

.project-button:hover {
  background-color: var(--secondary-color);
  color: var(--yellow-background-color);
}

.project-button:active {
  scale: 1.05;
}

.project-button > i {
  margin: 0 0 0 4px;
}

.project-image {
  max-width: 100%;
  margin: 0;
  height: auto;
  aspect-ratio: 16/9;
}

.scape-image-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 35, 35);
  height: auto;
  width: 100%;
}

.scape-image {
  width: 75%;
  filter: brightness(0) saturate(100%) invert(89%) sepia(54%) saturate(786%) hue-rotate(329deg) brightness(113%) contrast(98%);
}

.project-category-container {
  display: flex;
  flex-wrap: wrap;
}

.project-category {
  background-color: var(--primary-color);
  color: var(--yellow-background-color);
  font-weight: bold;
  margin: 10px 10px 0 0;
  padding: 1px 6px;
  border: 4px groove var(--secondary-color);
  border-radius: 4px;
}

.project-category > i {
  margin: 0 0 0 4px;
}

@media (min-width: 1001px) and (not (orientation: portrait)) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    column-gap: 40px;
    row-gap: 30px;
    width: auto;
    margin-bottom: 14px;
  }

  .nav-main {
    align-self: self-start;
  }  
}

@media (orientation: portrait) or (max-width: 1000px) {

  header {
    padding: 17px 5px;
    border-width: 0px;
    border-radius: 15px;
  }

  .projects-container {
    width: auto;
  }

  .nav-main {
    flex-direction: column;
  }

  .nav-main > .nav-main-item:first-child {
    margin: 0 0 15px 0;
  }

  .project {
    margin: 0 0 30px 0;
  }

  .last-visible-project {
    margin: 0 0 14px 0;
  }
}

.gallery .flickity-viewport  {
  border-radius: 10px;
}

.gallery .flickity-button:disabled {
  display: none;
}

.gallery .flickity-page-dots {
  bottom: 5px;
}

.gallery .flickity-page-dots:disabled {
  display: none;
}

.gallery .flickity-page-dots .dot {
  opacity: 0.5;
  background: var(--dark-purple-color);
}

.gallery .flickity-page-dots .dot:only-child {
  display: none;
}

.gallery .flickity-page-dots .dot.is-selected {
  background: var(--dark-purple-color);
}
