vl {
  display: flex;
  border-left: 3px solid var(--primary-color);
  align-self: stretch;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-header > a {
  margin: 0 15px;
  font-size: var(--default-font-size);
}

.nav-icon {
  height: 20px;
  width: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

.nav-main {
  display: flex;
  justify-content: center;
  margin: 15px 20px 15px 2.5%;
}

.nav-main > button {
  background-color: initial;
  transition-duration: var(--short-duration);
  border: 4px solid var(--dark-purple-color);
  border-radius: 10px;
  padding: 4px 12px;
  cursor: pointer;
}

.nav-main > button:first-child {
  margin: 0 15px 0 0;
}

.nav-main > button:hover {
  background-color: var(--dark-purple-color);
  color: var(--yellow-background-color);
}

.nav-main > button:hover > h2 {
  color: var(--yellow-background-color);
}

.nav-main > button:active {
  scale: 1.02;
}

.projects-container {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.project {  
  /* background-color: red; */
}

.project-header {
  display: flex;
}

.project-header > h3 {
  margin: 0 10px 0 0;
}

.project-header > button {
  display: flex;
  align-self: flex-end;
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-category-container {
  display: flex;
}

.project-category {
  background-color: var(--ligth-purple-color);
  color: red;
  font-weight: bold;
  margin: 10px 10px 0 0;
  padding: 4px 8px;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
}

@media (min-width: 1000px) and (not (orientation: portrait)) {
  .projects-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto;
    column-gap: 4%;
    row-gap: 20px;
    width: 95%;
  }

  .nav-main {
    align-self: self-start;
  }  

  .project:nth-last-child(1) {
    margin-bottom: 0;
  }

  .project:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media (orientation: portrait) or (max-width: 1000px) {
  .projects-container {
    width: 95%;
  }

  .nav-main {
    flex-direction: column;
  }

  .nav-main > button:first-child {
    margin: 0 0 15px 0;
  }

  .project:first-child {  
    margin: 0 0 20px 0;
  }

  .project:last-child{  
    margin: 20px 0 0 0;
  }
}