// COLORS
$primary-color: #9c76ac;
$secondary-color: #b071de;
$font-family: "Montserrat", sans-serif;

$light-white: #fff1cb;
$white-color: #ffe7b9;
$dark-grey: #333333;

$dark-blue-text: #726A95; // For headings

$LabelBorderColor: #f0caff;
$LabelBorderStyle: groove;

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
