#projects {
  background-color: $light-white;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;
  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }
  @include respond(phone) {
    padding-bottom: 1px;
  }
  .project-wrapper {
    margin-bottom: 15rem;
    @include respond(phone) {
      margin-bottom: 0rem;
    }
    .row {
      margin: 0;
      margin-bottom: 8rem;
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
    &__text {
      width: 100%;
      text-align: justify;
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }
      @include respond(phone) {
        margin-bottom: 2.5rem;
      }
      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      &-labelContainer {
        height: fit-content;
        width: fit-content;
        margin-bottom: 2rem;
      }

      &-label {

        /*font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: .025rem;
        font-style: normal;
        text-transform: capitalize;
        color: #0d0049;
        margin-right: 0.4em;
        margin-bottom: 0.3em;
        display: inline-block;*/

        &-General {
          font-size: 1.5rem;
          font-weight: 700;
          color: #0d0049;
          padding: 0.3rem 0.5rem;
          box-sizing: border-box;
          border-style: $LabelBorderStyle;
          border-width: 0.5rem;
          border-color: $LabelBorderColor;
          box-shadow: inset 100px 100px 100px 100px rgba(255, 255, 255, 0.8)
        }
        &-Platform {
          font-size: 1.5rem;
          font-weight: 700;
          padding: 0.3rem 0.5rem;
          box-sizing: border-box;
          border-style: $LabelBorderStyle;
          color:#0d0049;
          border-width: 0.5rem;
          border-color: $LabelBorderColor;
          box-shadow: inset 100px 100px 100px 100px rgba(13, 0, 73, 0);

          .fa-mobile {
            color: #0d0049;
          }
        }
      }

      &-info {
        margin-bottom: 1.5rem;
      }

      &-btns {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      //border-radius: 50%;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;

      }
      & .thumbnail {
        border: none;
        box-shadow: 8px 8px 9px 7px rgba(227, 172, 249, 0.4),
          -5px -5px 15px 7px #E3ACF9;
          border-radius: 20px;
        .img-fluid {
          width: 100%;
          height: auto;
          vertical-align: middle;
          border-radius: 20px;
        }
        @include respond(phone) {
          box-shadow: none;
          border: 1px solid #E3ACF9;
          margin-bottom: 3.2rem;
          border-radius: 20px;
          transform: none;
        }
      }
    }
  }
}
